<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <!--全局的初始化参数-->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>

  <!--  spring的监听器将spring的配置文件中配置的bean注册到Spring容器中，比如applicationContext.xml-->
  <listener>
    <listener-class>org.springframework.web.context.ContextCleanupListener</listener-class>
  </listener>





<!--  springmvc的前端控制器-->
  <servlet>
<!--    名字-->
    <servlet-name>DispatcherServler</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
<!--    配置控制器需要的配置文件位置-->
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:applicationContext.xml</param-value>
    </init-param>
<!--    配置服务启动的时候就启动-->
    <load-on-startup>2</load-on-startup>
  </servlet>
<!--  配置所有的请求都通过上面的前端控制器-->
  <servlet-mapping>
    <servlet-name>DispatcherServler</servlet-name>
    <url-pattern>/</url-pattern>


  </servlet-mapping>

</web-app>
